@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to test page for SIPVS course</h1>
    <p>Place .xml form here :D </p>
</div>

