@page
@model ValidationModel
@{
    ViewData["Title"] = "Validation";
}

<h2>Validácia</h2>
<p>
    Tlačidlo, ktorým sa spúšťa validácia.
</p>

<form method="post">
    <button type="submit" asp-page-handler="LoadFiles" class="btn btn-primary" style="background-color: black; outline-color: black; ">Over podpisy</button>
</form>
