@page
@model ValidationModel
@{
    ViewData["Title"] = "Validation";
}

<p></p>
<h2>Validácia</h2>
<p>
    Pridať sem potom validáciu. (Zadanie 4)
</p>
<p>
    Navrhujem pridať tlačidlo, ktorým sa bude spúšťať validácia.
</p>
