@page
@model ValidationModel
@{
    ViewData["Title"] = "Validation";
}

<h2>Validácia</h2>
<p>
    Tlačidlo, ktorým sa spúšťa validácia.
</p>

<form method="post">
    <button type="submit" asp-page-handler="LoadFiles" class="btn btn-secondary" style="background-color: black; outline-color: black; ">Over všetky súbory</button>
</form>

<p> </p>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" />
    <p> </p>
    <button type="submit" asp-page-handler="LoadFile" class="btn btn-secondary" style="background-color: black; outline-color: black; ">Over jeden súbor</button>
</form>
