@page
@model ValidationModel
@{
    ViewData["Title"] = "Validation";
}

<h2>Validácia</h2>
<p>
    Pridať sem potom validáciu. (Zadanie 4)
</p>
<p>
    Navrhujem pridať tlačidlo, ktorým sa bude spúšťať validácia.
</p>

<form method="post">
    <button type="submit" asp-page-handler="LoadFiles" class="btn btn-primary" style="background-color: black; outline-color: black; ">Over podpisy</button>
</form>
